.main-nav {
  background-color: var(--grey-800);
  padding: 0.6rem 1rem;
  border-radius: 1.1rem;
  max-width: 36rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-nav-form {
  display: flex;
  align-items: center;
}

.main-nav-form input {
  position: absolute;
  background-color: var(--grey-700);
  color: white;
  margin: 0 auto;
  padding: 0.6rem 1.2rem;
}

.main-nav-form input:focus {
  background-color: var(--grey-500);
  outline: none;
}

.main-nav-form button {
  position: relative;
  left: 10.6rem;
  top: 0.1rem;
  background: transparent;
  margin: 0;
  padding: 0;
}
.main-nav-form button img {
  filter: grayscale();
  transition: filter 200ms ease-out;
}
.main-nav-form button img:hover {
  filter: none;
}

.main-nav-form button:disabled {
  cursor: auto;
}

.main-nav-form img {
  width: 1.4rem;
  right: 1rem;
  top: 0;
}
