.user button {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  color: var(--grey-300);
  background: transparent;
  font-size: 1.05rem;
  font-weight: 300;
  font-family: 'REM', sans-serif;
  padding: 0.2rem;
}

.user button img {
  opacity: 0.5;
  width: 2.2rem;
  transition: all 200ms ease-out;
  padding: 0.06rem 0;
}

.user button img:hover {
  opacity: 1;
}
