.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

@media (min-width: 480px) {
  .tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 2rem;
}

.header button {
  background-color: transparent;
  padding: 0 0.5rem;
  opacity: 0.54;
}

.header button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.msg {
  text-align: center;
  margin-bottom: 1.5rem;
}
