.section {
  background-color: var(--blue-500);
  max-width: 24rem;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 2.2rem;
  box-shadow: 0.3rem 0.3rem 0.7rem rgb(0, 0, 0, 0.15);
  animation: fade-in 300ms ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin: 0;
  text-transform: uppercase;
  color: var(--grey-50);
}

.body {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.body hr {
  width: 100%;
  opacity: 0.3;
}

.section button {
  background-color: transparent;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--blue-400);
  font-weight: 500;
}

.header button {
  padding: 0;
  padding: 0.3rem 0.6rem;
}

.header button:hover {
  background-color: #d64343;
  color: #ffb5b5;
}

.body button {
  margin-top: 0.8rem;
}

.body button:hover {
  background-color: var(--yellow);
  color: var(--blue-500);
}

.body button:disabled,
.body button:disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
  color: var(--grey-500);
  font-style: italic;
}

.field {
  margin: 0.8rem 0;
  display: flex;
  flex-direction: column;
}

.field label {
  color: var(--grey-50);
  margin: 0;
  text-transform: uppercase;
}
