@import url('https://fonts.googleapis.com/css2?family=REM:wght@300;400;500;600&display=swap');
:root {
  --yellow: #f7d78c;
  --green: #c7d0bd;
  --pink: #f2b2d7;
  --beige: #f6f5f0;
  --blue-400: #a3a8fc;
  --blue-900: #0d1323;
  --grey-50: #f4f5f9;
  --grey-300: #a4a8ab;
  --grey-700: #2f3237;
  --grey-800: #24272c;
  --black: #000407;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  background-color: var(--blue-900);
  font-size: 1.05rem;
  font-weight: 300;
  font-family: 'REM', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--black);
}

p {
  color: var(--black);
}

section {
  margin-top: 2.5rem;
}

section h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

input::placeholder,
textarea::placeholder {
  font-family: 'REM', sans-serif;
  font-size: 0.9rem;
  color: #999;
  letter-spacing: 0.02rem;
}

label {
  margin-bottom: 0.5rem;
  margin-left: 0.9rem;
  font-size: 0.9rem;
}
